////////////////////////
// Bedrock Limestone Layout Partial
//
// Layout specific to the Bedrock Limestone panel layout.
//
// Copy this file to your theme's Sass partial structure
// and include in your SMACSS based layout file.
//
// Required Variables
// - $no-query (breakpoint no-query fallback)
// - $small, $medium, $large, $xlarge (global breakpoints)
// - $grids, set at global breakpoints
// - $gutters, set at global breakpoints
// Optional Variables
// - $limestone-grid-height
////////////////////////

@mixin limestone-grid-height {
  $limestone-grid-height: false !default;

  @if $limestone-grid-height {
    max-height: $limestone-grid-height;
    min-height: $limestone-grid-height;
  }
}

/*
 * Limestone Layout
 */
.limestone {
  //@include background-grid;

  .limestone-content {
    @include grid-span(3, 1);

    @include breakpoint($small) {
      @include grid-span(6, 1);
    }

    @include breakpoint($medium, $no-query) {
      @include grid-span(18, 1);
    }

    @include breakpoint($large) {
      @include grid-span(30, 1);
    }

    @include breakpoint($xlarge) {
      @include grid-span(30, 1);
    }

    margin-bottom: 1em;

    .panel-pane {
      margin-bottom: 1em;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .limestone-column-container {
    @include grid-span(3, 1);

    @include breakpoint($small) {
      @include grid-span(6, 1);
    }

    @include breakpoint($medium, $no-query) {
      @include grid-span(18, 1);
    }

    @include breakpoint($large) {
      @include grid-span(30, 1);
    }

    @include breakpoint($xlarge) {
      @include grid-span(30, 1);
    }

    .limestone-column-left {
      @include grid-span(3, 1);

      @include breakpoint($small) {
        @include grid-span(6, 1);
      }

      @include breakpoint($medium, $no-query) {
        @include grid-span(9, 1);
      }

      @include breakpoint($large) {
        @include grid-span(15, 1);
      }

      @include breakpoint($xlarge) {
        @include grid-span(15, 1);
      }
    }

    .limestone-column-right {
      @include grid-span(3, 1);

      @include breakpoint($small) {
        @include grid-span(6, 1);
      }

      @include breakpoint($medium, $no-query) {
        @include grid-span(9, 10);
      }

      @include breakpoint($large) {
        @include grid-span(15, 16);
      }

      @include breakpoint($xlarge) {
        @include grid-span(15, 16);
      }
    }

    .limestone-column {
      .panel-pane {
        @include limestone-grid-height;
        margin-bottom: 1em;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
