////////////////////////
// Bedrock Flint Layout Partial
//
// Layout specific to the Bedrock Flint panel layout.
//
// Copy this file to your theme's Sass partial structure
// and include in your SMACSS based layout file.
//
// Required Variables
// - $no-query (breakpoint no-query fallback)
// - $small, $medium, $large, $xlarge (global breakpoints)
// - $grids, set at global breakpoints
// - $gutters, set at global breakpoints
////////////////////////

/*
 * Flint Layout
 */
.flint {
  //@include background-grid;

  .flint-sidebar {
    @include grid-span(3, 1);

    @include breakpoint($small) {
      @include grid-span(6, 1);
    }

    @include breakpoint($medium, $no-query) {
      @include grid-span(4, 1);
    }

    @include breakpoint($large) {
      @include grid-span(6, 1);
    }

    @include breakpoint($xlarge) {
      @include grid-span(6, 1);
    }
  }

  .flint-content-main {
    @include grid-span(3, 1);

    @include breakpoint($small) {
      @include grid-span(6, 1);
    }

    @include breakpoint($medium, $no-query) {
      @include grid-span(14, 5);
    }

    @include breakpoint($large) {
      @include grid-span(24, 7);
    }

    @include breakpoint($xlarge) {
      @include grid-span(24, 7);
    }
  }
}
