////////////////////////
// Bedrock Coal Layout Partial
//
// Layout specific to the Bedrock Coal panel layout.
//
// Copy this file to your theme's Sass partial structure
// and include in your SMACSS based layout file.
//
// Required Variables
// - $no-query (breakpoint no-query fallback)
// - $small, $medium, $large, $xlarge (global breakpoints)
// - $grids, set at global breakpoints
// - $gutters, set at global breakpoints
////////////////////////

/*
 * Coal Layout
 */
.coal {
  //@include background-grid;

  .coal-column-container {
    .coal-column-left {
      @include grid-span(3, 1);

      @include breakpoint($small) {
        @include grid-span(6, 1);
      }

      @include breakpoint($medium, $no-query) {
        @include grid-span(7, 1);
      }

      @include breakpoint($large) {
        @include grid-span(12, 1);
      }

      @include breakpoint($xlarge) {
        @include grid-span(12, 1);
      }
    }

    .coal-column-right {
      @include grid-span(3, 1);

      @include breakpoint($small) {
        @include grid-span(6, 1);
      }

      @include breakpoint($medium, $no-query) {
        @include grid-span(11, 8);
      }

      @include breakpoint($large) {
        @include grid-span(18, 13);
      }

      @include breakpoint($xlarge) {
        @include grid-span(18, 13);
      }
    }

    .coal-column {
      .panel-pane {
        margin-bottom: 1em;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
