/**
 * @file
 * Bedrock Riebeckite panels layout Admin CSS.
 */

.riebeckite-content-header {
  margin-bottom: 1%;
}

.riebeckite-column {
  float: left;
}

.riebeckite-content-main-column {
  width: 74%;
}

.riebeckite-content-secondary-column {
  width: 25%;
  margin-right: 1%;
}
