////////////////////////
// Bedrock Pumice Layout Partial
//
// Layout specific to the Bedrock Pumice panel layout.
//
// Copy this file to your theme's Sass partial structure
// and include in your SMACSS based layout file.
//
// Required Variables
// - $no-query (breakpoint no-query fallback)
// - $small, $medium, $large, $xlarge (global breakpoints)
// - $grids, set at global breakpoints
// - $gutters, set at global breakpoints
////////////////////////

/*
 * Pumice Layout
 */
.pumice {
  //@include background-grid;

  .pumice-column-container {
    .pumice-column-left {
      @include grid-span(3, 1);

      @include breakpoint($small) {
        @include grid-span(6, 1);
      }

      @include breakpoint($medium, $no-query) {
        @include grid-span(9, 1);
      }

      @include breakpoint($large) {
        @include grid-span(15, 1);
      }

      @include breakpoint($xlarge) {
        @include grid-span(15, 1);
      }
    }

    .pumice-column-right {
      @include grid-span(3, 1);

      @include breakpoint($small) {
        @include grid-span(6, 1);
      }

      @include breakpoint($medium, $no-query) {
        @include grid-span(9, 10);
      }

      @include breakpoint($large) {
        @include grid-span(15, 16);
      }

      @include breakpoint($xlarge) {
        @include grid-span(15, 16);
      }
    }

    .pumice-column {
      .panel-pane {
        margin-bottom: 1em;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
