////////////////////////
// Bedrock Adakite Layout Partial
//
// Layout specific to the Bedrock Adakite panel layout.
//
// Copy this file to your theme's Sass partial structure
// and include in your SMACSS based layout file.
//
// Required Variables
// - $no-query (breakpoint no-query fallback)
// - $small, $medium, $large, $xlarge (global breakpoints)
// - $grids, set at global breakpoints
// - $gutters, set at global breakpoints
// Optional Variables
// - $adakite-grid-height
////////////////////////

@mixin adakite-grid-height {
  $adakite-grid-height: false !default;

  @if $adakite-grid-height {
    max-height: $adakite-grid-height;
    min-height: $adakite-grid-height;
  }
}

/*
 * Adakite Layout
 */
.adakite {
  //@include background-grid;

  .adakite-content-header {
    @include grid-span(3, 1);

    @include breakpoint($small) {
      @include grid-span(6, 1);
    }

    @include breakpoint($medium, $no-query) {
      @include grid-span(18, 1);
    }

    @include breakpoint($large) {
      @include grid-span(30, 1);
    }

    @include breakpoint($xlarge) {
      @include grid-span(30, 1);
    }

    margin-bottom: 1em;

    .panel-pane {
      margin-bottom: 1em;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .adakite-column-container {
    @include grid-span(3, 1);

    @include breakpoint($small) {
      @include grid-span(6, 1);
    }

    @include breakpoint($medium, $no-query) {
      @include grid-span(18, 1);
    }

    @include breakpoint($large) {
      @include grid-span(30, 1);
    }

    @include breakpoint($xlarge) {
      @include grid-span(30, 1);
    }

    .adakite-column-left {
      @include grid-span(3, 1);

      @include breakpoint($small) {
        @include grid-span(6, 1);
      }

      @include breakpoint($medium, $no-query) {
        @include grid-span(6, 1);
      }

      @include breakpoint($large) {
        @include grid-span(10, 1);
      }

      @include breakpoint($xlarge) {
        @include grid-span(10, 1);
      }
    }

    .adakite-column-middle {
      @include grid-span(3, 1);

      @include breakpoint($small) {
        @include grid-span(6, 1);
      }

      @include breakpoint($medium, $no-query) {
        @include grid-span(6, 7);
      }

      @include breakpoint($large) {
        @include grid-span(10, 11);
      }

      @include breakpoint($xlarge) {
        @include grid-span(10, 11);
      }
    }

    .adakite-column-right {
      @include grid-span(3, 1);

      @include breakpoint($small) {
        @include grid-span(6, 1);
      }

      @include breakpoint($medium, $no-query) {
        @include grid-span(6, 13);
      }

      @include breakpoint($large) {
        @include grid-span(10, 21);
      }

      @include breakpoint($xlarge) {
        @include grid-span(10, 21);
      }
    }

    .adakite-column {
      .panel-pane {
        @include adakite-grid-height;
        margin-bottom: 1em;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .adakite-content-footer-container {
    @include grid-span(3, 1);

    @include breakpoint($small) {
      @include grid-span(6, 1);
    }

    @include breakpoint($medium, $no-query) {
      @include grid-span(18, 1);
    }

    @include breakpoint($large) {
      @include grid-span(30, 1);
    }

    @include breakpoint($xlarge) {
      @include grid-span(30, 1);
    }

    margin-top: 1em;

    .adakite-content-footer-left {
      @include grid-span(3, 1);

      @include breakpoint($small) {
        @include grid-span(6, 1);
      }

      @include breakpoint($medium, $no-query) {
        @include grid-span(12, 1);
      }

      @include breakpoint($large) {
        @include grid-span(20, 1);
      }

      @include breakpoint($xlarge) {
        @include grid-span(20, 1);
      }
    }

    .adakite-content-footer-right {
      @include grid-span(3, 1);

      @include breakpoint($small) {
        @include grid-span(6, 1);
      }

      @include breakpoint($medium, $no-query) {
        @include grid-span(6, 13);
      }

      @include breakpoint($large) {
        @include grid-span(10, 21);
      }

      @include breakpoint($xlarge) {
        @include grid-span(10, 21);
      }
    }

    .adakite-content-footer {
      .panel-pane {
        @include adakite-grid-height;
        margin-bottom: 1em;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
