////////////////////////
// Bedrock Hawaiite Layout Partial
//
// Layout specific to the Bedrock Hawaiite panel layout.
//
// Copy this file to your theme's Sass partial structure
// and include in your SMACSS based layout file.
//
// Required Variables
// - $no-query (breakpoint no-query fallback)
// - $small, $medium, $large, $xlarge (global breakpoints)
// - $grids, set at global breakpoints
// - $gutters, set at global breakpoints
// Optional Variables
// - $hawaiite-grid-height
////////////////////////

@mixin hawaiite-grid-height {
  $hawaiite-grid-height: false !default;

  @if $hawaiite-grid-height {
    max-height: $hawaiite-grid-height;
    min-height: $hawaiite-grid-height;
  }
}

/*
 * Hawaiite Layout
 */
.hawaiite {
  //@include background-grid;

  .hawaiite-content-header {
    @include grid-span(3, 1);

    @include breakpoint($small) {
      @include grid-span(6, 1);
    }

    @include breakpoint($medium, $no-query) {
      @include grid-span(18, 1);
    }

    @include breakpoint($large) {
      @include grid-span(30, 1);
    }

    @include breakpoint($xlarge) {
      @include grid-span(30, 1);
    }

    margin-bottom: 1em;

    .panel-pane {
      margin-bottom: 1em;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .hawaiite-column-container {
    @include grid-span(3, 1);

    @include breakpoint($small) {
      @include grid-span(6, 1);
    }

    @include breakpoint($medium, $no-query) {
      @include grid-span(18, 1);
    }

    @include breakpoint($large) {
      @include grid-span(30, 1);
    }

    @include breakpoint($xlarge) {
      @include grid-span(30, 1);
    }

    .hawaiite-column-left {
      @include grid-span(3, 1);

      @include breakpoint($small) {
        @include grid-span(6, 1);
      }

      @include breakpoint($medium, $no-query) {
        @include grid-span(6, 1);
      }

      @include breakpoint($large) {
        @include grid-span(10, 1);
      }

      @include breakpoint($xlarge) {
        @include grid-span(10, 1);
      }
    }

    .hawaiite-column-middle {
      @include grid-span(3, 1);

      @include breakpoint($small) {
        @include grid-span(6, 1);
      }

      @include breakpoint($medium, $no-query) {
        @include grid-span(6, 7);
      }

      @include breakpoint($large) {
        @include grid-span(10, 11);
      }

      @include breakpoint($xlarge) {
        @include grid-span(10, 11);
      }
    }

    .hawaiite-column-right {
      @include grid-span(3, 1);

      @include breakpoint($small) {
        @include grid-span(6, 1);
      }

      @include breakpoint($medium, $no-query) {
        @include grid-span(6, 13);
      }

      @include breakpoint($large) {
        @include grid-span(10, 21);
      }

      @include breakpoint($xlarge) {
        @include grid-span(10, 21);
      }
    }

    .hawaiite-column {
      .panel-pane {
        @include hawaiite-grid-height;
        margin-bottom: 1em;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .hawaiite-content-footer {
    @include grid-span(3, 1);

    @include breakpoint($small) {
      @include grid-span(6, 1);
    }

    @include breakpoint($medium, $no-query) {
      @include grid-span(18, 1);
    }

    @include breakpoint($large) {
      @include grid-span(30, 1);
    }

    @include breakpoint($xlarge) {
      @include grid-span(30, 1);
    }

    margin-top: 1em;

    .panel-pane {
      margin-bottom: 1em;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
