////////////////////////
// Bedrock Tuff Layout Partial
//
// Layout specific to the Bedrock Tuff panel layout.
//
// Copy this file to your theme's Sass partial structure
// and include in your SMACSS based layout file.
//
// Required Variables
// - $no-query (breakpoint no-query fallback)
// - $small, $medium, $large, $xlarge (global breakpoints)
// - $grids, set at global breakpoints
// - $gutters, set at global breakpoints
////////////////////////

/*
 * Tuff Layout
 */
.tuff {
  //@include background-grid;

  .tuff-sidebar {
    @include grid-span(3, 1);

    @include breakpoint($small) {
      @include grid-span(6, 1);
    }

    @include breakpoint($medium, $no-query) {
      @include grid-span(4.5, 1);
    }

    @include breakpoint($large) {
      @include grid-span(7.5, 1);
    }

    @include breakpoint($xlarge) {
      @include grid-span(7.5, 1);
    }
  }

  .tuff-content-main {
    @include grid-span(3, 1);

    @include breakpoint($small) {
      @include grid-span(6, 1);
    }

    @include breakpoint($medium, $no-query) {
      @include grid-span(13.5, 5.5);
    }

    @include breakpoint($large) {
      @include grid-span(22.5, 8.5);
    }

    @include breakpoint($xlarge) {
      @include grid-span(22.5, 8.5);
    }
  }
}
