/**
 * @file
 * Bedrock Limestone panels layout Admin CSS.
 */

.limestone-content {
  margin-bottom: 1%;
}

.limestone-column {
  float: left;
  margin-right: 1%;
  width: 49%;
}

.limestone-column-right {
  margin-right: 0;
  width: 50%;
}
